.container {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 18px;
  width: 77%;
  border-radius: 6px;
}
.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #a3de83;
  color: white;
  border: none;
  padding: 18px 20px;
  line-height: 1;
  border-radius: 5px;
}
.current-weather {
  display: flex;
  justify-content: space-between;
}
.current-temperature-icon {
  position: relative;
  width: 100px;
  height: auto;
  margin-right: 2px;
}
.current-temperature-value {
  font-size: 80px;
}
.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
h1 {
  font-size: 41px;
  margin: 0;
  font-weight: 900;
}
p {
  color: rgba(39, 33, 66, 0.4);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
#humidity {
  color: #ff5d6e;
  font-weight: bold;
}
#wind-speed {
  color: #ff5d6e;
  font-weight: bold;
}
body {
  display: block;
  background-color: #f9f7fe;
}

header {
  padding-bottom: 30px;
}
main {
  padding: 28px 0;
  border-top: 1px solid #f9f7fe;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
#forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  margin-top: 30px;
  flex-basis: calc(
    20% - 20px
  ); /* Adjust the width of each day, accounting for margin */
}

.weather-forecast-date {
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Lato", "Roboto", sans-serif;
  opacity: 0.5;
}

.weather-forecast-icon {
  font-size: 24px;
  margin-bottom: 15px;
}

.weather-forecast-temperatures {
  text-align: center;
  font-size: 16px;
  font-family: "Lato", "Roboto", sans-serif;
}
.weather-forecast-temperatures {
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  margin: 0 5px;
}
